{% extends "layout.html" %}
{% block body %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Sign In</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Sign In</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="row mt-5 justify-content-center" data-aos="fade-up">
          <div class="col-lg-10">
            <form action="/login" method="post" role="form" class="php-email-form"> 
            {{form.hidden_tag()}}  
              <div class="form-group mt-3">
                
                {% if form.email.errors %}
                  {{ form.email(class="form-control form-control-lg is-invalid", placeholder="Your Email") }}
                  <div class="invalid-feedback">
                      {% for error in form.email.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
                {% else %}
                  {{form.email(class="form-control", placeholder="Your Email")}}
                {% endif %}
              </div>
              <div class="form-group mt-3">
                {% if form.password.errors %}
                  {{ form.password(class="form-control form-control-lg is-invalid", placeholder="Password") }}
                  <div class="invalid-feedback">
                      {% for error in form.password.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
                {% else %}
                  {{form.password(class="form-control", placeholder="Password")}}
                {% endif %}
              </div>
              <div class="text-center">{{form.submit(class="btn btn-secondary", placeholder="Sign Up")}}</div>
              <a href="/register"><h6>Create account</h6></a>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

{% endblock %}